[Unit]
Description=Trollduction supervisor daemon
After=syslog.target network.target remote-fs.target sshd.service 
Wants=syslog.target network.target remote-fs.target sshd.service 
Before=shutdown.target reboot.target halt.target

[Service]
Type=forking
ExecStart=%PYTHONBINDIR%supervisord -c "%CONFIGDIR%/trollduction/supervisord.conf"
ExecStop=%PYTHONBINDIR%supervisorctl -c "%CONFIGDIR%/trollduction/supervisord.conf" shutdown
ExecReload=%PYTHONBINDIR%supervisorctl -c "%CONFIGDIR%/trollduction/supervisord.conf" reload
KillMode=process
Restart=on-failure
RestartSec=42s
User=pytroll

[Install]
WantedBy=multi-user.target
